.login-container {
  background-color: #282828; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; 
  margin: auto; 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input[type="text"],
input[type="password"],
button {
  display: block;
  width: calc(100% - 20px); 
  margin: 10px auto; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #68AE6F; 
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5B9760; 
}

#message {
  color: #ff0000; 
  text-align: center;
}
