*{
  border: 0;
  padding: 0;
  margin: 0;
  }
  

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302F31;
  font-family: 'Lexend', sans-serif;
  color: #c2ff9a;
  overflow: auto;
}
.game-container {
    background-color: #302F31;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 100%;

}
.login-container {
  display: inline-block;
  color: #FFFFFF;
  margin: 10px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(240, 204, 255, 0.9);
  max-width: 500px;
  border-radius: 10px;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}

input[type="text"],
input[type="password"],

.button {
  display: table-header-group;
  font-family: 'Lexend', sans-serif;
  width: calc(100% - 20px);
  margin: 30px auto;
  padding: 10px;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#username{
  padding: 18px;
  margin-bottom: 10px;
}
#password{
  padding: 18px;
}
#mnmlogo{
  align-self: top;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;

}
button {
  background-color: rgb(248, 255, 148); 
  color: #303030;
  border: none;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  font-weight: bold; 
  font-size: large;
}

#submit{
  display: block;
  font-family: 'Lexend', sans-serif;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  border: 30px;
  width: calc(100% - 20px);
  border-radius: 10px;
}
#submit:hover{
  color: black;
  background-color: #f3c4ff; /* Red */
  transition-duration: 0.5s;
}
.mode-button {
  display: fixed;
  font-family: 'l', sans-serif;
}

#message {
  color: #ff0000;
  text-align: center;
}

.navbar {
  background-color: #282828;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
  text-align: center;
  max-width:100%;
  max-height: 100%;
  width: 100vw;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-bottom: 2px solid #4C4452;
}  



#begin {
  box-sizing: border-box;
  max-width:150px;
  border: none;
  padding: 25px;
  margin: 0px;
  color: #C5FFB7;
  background-color: #282828; /* Red */
  font-family: 'Lexend', sans-serif;
  font: bolder;
  font-size:large;
}
#begin:hover {
  border: none;
  margin: 0px;
  transition-duration: 0.5s;
  color: #282828;
  background-color: #C5FFB7; /* Red */
  font-family: 'Lexend', sans-serif;
  font:bolder;
  animation: zoom-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#daily:hover {
  max-width:150px;
  border: none;
  transition-duration: 0.5s;
  color: #282828;
  background-color: #FFFCB7; /* Red */
  font-family: 'Lexend', sans-serif;
  font:bolder;
  animation: zoom-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#daily:active {
  border: none;
  transition-duration: 0.5s;
  color: #282828;
  background-color: #FFFCB7; /* Red */
  font-family: 'Lexend', sans-serif;
  font:bolder;
  animation: zoom-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#expert:hover {
  border: none;
  margin: 0px;
  transition-duration: 0.5s;
  color: #282828;
  background-color: #ffb7b7; /* Red */
  font-family: 'Lexend', sans-serif;
  font:bolder;
  animation: zoom-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
#daily {
  max-width:150px;
  border: none;
  box-sizing: border-box;
  padding: 25px;
  margin:0px;
  color: #FFFCB7;
  background-color: #282828; /* Red */
  font-family: 'Lexend', sans-serif;
  font: bold;
  
  font-size:large;
}

#expert {
  max-width:150px;
  border: none;
  padding: 25px;
  margin: 0px;
  color: #ffb7b7;
  background-color: #282828; /* Red */
  font-family: 'Lexend', sans-serif;
  font: bold;
  font-size:large;
}

#login:hover {
  border: none;
  margin: 0px;
  transition-duration: 0.5s;
  color: #282828;
  background-color: lightpink; 
  font-family: 'Lexend', sans-serif;
  font-weight: bolder; 
  animation: zoom-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#login {
  max-width:150px;
  border: none;
  padding: 25px;
  margin: 0px;
  color: lightpink ; 
  background-color: #282828; 
  font-family: 'Lexend', sans-serif;
  font-weight: bolder; 
  font-size: large;
}

#suprompt{
  color: white;
}
#sulink{
  color: rgb(217, 152, 255);
}
